html, body {  }
h1 { font-weight: normal; font-size: 3.2rem; }
h2 { font-weight: normal; font-size: 2.4rem; }
h4 { font-weight: normal; font-size: 1rem; text-transform:uppercase;;}
p {font-size: 1.2rem; }
img { max-width: 100%; }
hr { border:none; border-top: 1px solid rgb(0,0,0); margin: 4rem 0;}
a { color:inherit; }
a:hover { text-decoration: none; }

.content { max-width: 680px; margin: 0 auto; padding: 4rem; }
.logo {margin: 3rem 0;}
.arial{ font-family: sans-serif;}

.o-100 { opacity: 1; }
.o-60 { opacity: .6; }
.black-60 { color: rgba( 0, 0, 0, .6 ); }
.white-60 { color: rgba( 255, 255, 255, .6 ); }
.black { color: #000; }
.white { color: #fff; }

.line-through { text-decoration: line-through; }
.product { margin: 4rem 0; }

@media only screen and (max-width: 600px) {
  .content { padding: 1rem; }
  .logo {margin: 2rem 0;}
  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  p { font-size: 1.25rem; }
  hr { margin: 2rem 0;}
}
